.info{
	border:2px solid #5AC8ED;
	border-radius: 3px;
	vertical-align: center;
	padding: 10px;
	margin-left: 12%;
	margin-right:12%;
	margin top: 10px;
	margin-bottom:10px;
	font-size: 12pt;
}

body{
	font-family: "Arial Black", Gadget, sans-serif
}

img{
	height:auto;
	width: auto;
	max-width: 200;
	max-height: 400;
}